# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\ESCUELA\GRADO SUPERIOR\2º DAM\ACCESO A DATOS\PRÁCTICA\ACTIVIDAD GRUPAL\acceso-a-datos-tema-1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
